<?xml version="1.0" encoding="UTF-8"?>
<widget
    xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "it.troni.venicesecrets"
    version = "1.0.0">

    <name>Venice Secrets</name>
    <description>con "Venice Secrets" entri nel mondo magico di Venzia, andando alla ricerca dei luoghi nascosti per risolveri gli enigmi di Casanova</description>
    <author href="http://www.troni.it" email="giorgio@troni.it">Giorgio Troni</author>
    <icon src="icon.png" gap:role="default" />

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />

</widget>